1920_LMSGI_EAB/ud04/xml15.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

<xs:element name="banda">
	<xs:complexType>
		<xs:sequence>
			<xs:element name="nombre" type="xs:string"/>
			<xs:element name="integrantes">
				<xs:simpleType>
					<xs:restriction base="xs:integer">
						<xs:minInclusive value="1"/>
						<xs:maxInclusive value="10"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="origen" type="xs:date"/>
			<xs:element name="activo" type="xs:boolean"/>
		</xs:sequence>
		<xs:attribute name="tipo" type="xs:string"/>
	</xs:complexType>
</xs:element>
</xs:schema>  